html, body {
    margin: 0;
    padding: 0;
}

button {
    font-size: large;
    padding: .7em;
    border-radius: .5em;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;    
}

button#reverse {
    margin-top: 1em;
    box-shadow: .1em .1em 2.5em rgb(255, 30, 30);    
}

button#reverse:active {
    box-shadow: .1em .1em 2.5em rgb(25, 0, 255);
    transform: translateY(4px);
}

button.start, button.start2  {
    box-shadow: .1em .1em 2.5em rgb(30, 100, 255);
}

button.start:active, button.start2:active {
    box-shadow: .1em .1em 2.5em rgb(0, 255, 0);
    transform: translateY(4px);
}

/* Style for the square */
.square {
    width: 25%; /* Adjust the size of the square */
    height: 50%; /* Adjust the size of the square */
    background-color: rgb(148, 148, 148); /* Square background color */
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: .1em .1em 2.5em rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}